<div class="card-container h-100">
  <h3 class="title-card m-0">{{ title }}</h3>
  <h4 class="subtle-small">{{ subtitle }}</h4>
  <div class="content-item mt-3" *ngFor="let item of listContentItems">
    <div>
      <mat-icon [ngClass]="{ success: item?.iconColor === 'success' }">{{ item.icon }}</mat-icon>
    </div>
    <div>
      <p class="subtle-small m-0">{{ item.name }}</p>
      <p class="value default m-0">{{ item.value }}</p>
    </div>
  </div>
  <ng-container *ngIf="action">
    <div class="mt-3">
      <app-button variant="secondary" [withoutBorder]="true">{{ action }}</app-button>
    </div>
  </ng-container>
</div>
