
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Open+Sans&display=swap');

.header-1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.header-2 {
  font-family: 'Exo 2', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.header-3 {
  font-family: 'Exo 2', sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.header-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.title-page {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.title-panel {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.title-section {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.title-card {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.default {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.subtle {
  color: #949FA3;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.subtle-small {
  color: #949FA3;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.label {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
