<div class="page-container">
  <div>
    <app-stepper [items]="stepperItems"></app-stepper>
  </div>
  <div class="page-content py-2 px-3">
    <h2 class="header-4">Informe o CPF do futuro cooperado (a)</h2>
    <p class="m-0 default">Se necessário, você poderá duplicar uma conta existente ou pausar e retomar esse cadastro futuramente.</p>
    <p class="m-0 default">Digite apenas os números (sem pontos ou traços).</p>
    <form class="mt-3 input-container d-flex flex-column flex-md-row align-items-md-end" [formGroup]="form" (ngSubmit)="findCpf()">
      <div>
        <app-input-text
          label="CPF"
          [control]="form | formControl: 'cpf'"
          [disabled]="!!userAccount || loading"
          [customError]="cpfNotFound ? 'CPF não registrado!' : ''"
          mask="000.000.000-00"
        ></app-input-text>
      </div>
      <div class="submit-container">
        <ng-container *ngIf="!loading then submitButton; else spinner"></ng-container>
        <ng-template #submitButton>
          <app-button type="submit" [disabled]="!!userAccount">Consultar por CPF</app-button>
        </ng-template>
        <ng-template #spinner>
          <mat-spinner diameter="25"></mat-spinner>
        </ng-template>
      </div>
    </form>
    <div class="cards-container row mt-4 align-items-stretch">
      <div class="col-12 col-md-4 col-lg-3 p-2" *ngFor="let card of cards">
        <app-card
          [title]="card.title"
          [subtitle]="card.subtitle"
          [listContentItems]="card.cardItems"
          [action]="card.action"
        ></app-card>
      </div>
    </div>
  </div>
  <div class="page-actions px-3 py-2">
    <div class="d-flex align-items-center flex-column flex-md-row gap-2">
      <app-button *ngIf="!!userAccount" size="medium" (click)="resetForm()">Iniciar nova admissão</app-button>
      <app-button size="medium" variant="secondary">Dicas para admissão</app-button>
    </div>
  </div>
</div>
