<div class="app-container h-100">
  <app-menu [show]="showMenu"></app-menu>
  <div class="w-100 d-flex flex-column">
    <header class="py-2 px-3 d-flex flex-row align-items-center justify-content-between">
      <div class="d-block d-md-none">
        <button mat-icon-button (click)="showMenu = !showMenu">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="d-none d-md-block">
        <h1 class="header-3 text-uppercase m-0">Nova admissão Cooperado</h1>
        <p class="subtle mb-2">Cadastro / Admissão do Cooperado / Nova admissão de Cooperado</p>
      </div>
      <div class="d-flex align-items-center justify-content-between gap-2">
        <div class="float-container">
          <button mat-icon-button>
            <mat-icon>notifications_none</mat-icon>
          </button>
          <span>7</span>
        </div>
        <app-button [rounded]="true" variant="secondary" text="large">Viacredi</app-button>
        <div class="float-container">
          <button mat-icon-button>
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-icon>settings</mat-icon>
        </div>
      </div>
    </header>
    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
