<div class="nav-container h-100" [ngClass]="{ show }">
  <div>
    <img src="../../../assets/logo.png" alt="Logo">
  </div>
  <button matRipple class="d-none d-md-block">
    <mat-icon class="burguer-icon">menu</mat-icon>
  </button>
  <nav>
    <a matRipple>
      <mat-icon>search</mat-icon>
    </a>
    <a matRipple>
      <mat-icon>star_border</mat-icon>
    </a>
    <a matRipple>
      <mat-icon>textsms</mat-icon>
    </a>
    <a matRipple>
      <mat-icon>format_list_bulleted</mat-icon>
    </a>
    <a matRipple>
      <mat-icon>account_balance</mat-icon>
    </a>
  </nav>
</div>
